# Introduction

These notebooks are designed to give you a very basic overview of computer coding in python to conduct analyses of hydrologic data.

A notebook is an interactive, "live" document, where you can describe the code you are creating, run the code, and analyze the outputs.

Notebooks, including Google Collab, Jupyter Notebooks, and RNotebooks, are becoming increasingly popular in engineering and data science for creating reproduceable and efficicent code.

Many of the analyses conducted in this notebook can be completed in Excel. You will see, however, that several functions that have already been written in python are very powerful, and can directly be applied to data science in hydrology. While there is a large learning curve, there is also a large amount of tools that can be accessed via python and R that aren't accessible through excel.


# Notebook 1

This notebook goes over the very basic operations that can be completed in python.

# Variables and assignment

In Python,
variables are defined using the symbol `=`

In [ ]:
my_variable = 1

you can show the content* of a variable just by writing its name:

**Actually variables are not containers but pointers*. See below

In [ ]:
my_variable

1

but it only works if it's placed in the last line:

In [ ]:
my_variable
another_variable = 2

A prefered and more versatile way for showing information is using the *function* `print()`

A *function* is a process which takes in a variable, and outputs something new.

In [ ]:
print(my_variable)
latest_variable = 3
print(latest_variable)

1
3

Often times computer programs will write in short hand notations. There are multiple reasons for this (i.e., iterating through a list, compacting code, etc).

Using a "#" we can write in comments, basically telling the user what the lines of code are doing.

In [ ]:
# Updating a variable
x = 10
x += 5 # equivalent to x = x + 5
x

15

In [ ]:
x = 10
x *= 3 # x = x*3
x

30

# 2. Data Types

Python has the following data types built-in by default. A *data type* allows you to assign certain things in variables (e.g., text, numbers, numbers with decimals, TRUE/FALSE statements, etc.)

Category | Data types
--|--
Text Type: | str
Numeric Types: |	int, float, complex
Boolean Type:	| bool
Sequence Types: |	list, tuple, range
Mapping Type:	| dict
Set Types:	| set, frozenset
Binary Types:	| bytes, bytearray, memoryview
None Type:	| NoneType

The data type stored in a variable can be accessed using the function `type()`

## Strings, numeric and boolean

In [ ]:
print(my_text)

In [ ]:
# Text type variables
my_text = 'Hello World!'
another_text = "Goodbye world!"

print('Text variables: \n')
print('my_text is a:', type(my_text))
print('another_text is a:',type(another_text))

Text variables:

my_text is a: <class 'str'>
another_text is a: <class 'str'>

In [ ]:
# Numeric Type Variables
my_integer = 5
my_float = 5.
my_complex = 3j +5

print('Numeric type variables: \n')

print('my_integer is a', type(my_integer), 'xxx', sep = '\n')

print('my_float is a', type(my_float),sep = '\t')

print('my_complex is a', type(my_complex), 'equal to:', my_complex)

Numeric type variables:

my_integer is a
<class 'int'>
xxx
my_float is a	<class 'float'>
my_complex is a <class 'complex'> equal to: (5+3j)

In [ ]:
true =1
x = true
x

1

In [ ]:
# Boolean data types
my_true_bool = True
my_false_bool = False

print('Boolean type variables: \n')
print('my_true_bool is a', type(my_true_bool))
print('my_false_bool is a', type(my_false_bool))

Boolean type variables:

my_true_bool is a <class 'bool'>
my_false_bool is a <class 'bool'>

## Sequences

In [ ]:
# Sequence data types:

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1,6)

print('my_list is a', type(my_list), 'equal to:', my_list )
print('my_tuple is a', type(my_tuple), 'equal to:', my_tuple )
print('my_range is a', type(my_range), 'equal to:', my_range )

my_list is a <class 'list'> equal to: [1, 2, 3, 4, 5]
my_tuple is a <class 'tuple'> equal to: (1, 2, 3, 4, 5)
my_range is a <class 'range'> equal to: range(1, 6)

Elements can be accessed using `[ ]`:  
**IMPORTANT:** Python uses **zero-based indexing** which means that the first element has index 0, the second element has index 1, and so on.

In [ ]:
first_element = my_list[0]
print('First element:',first_element) #list

print('Second element:',my_tuple[1]) # tuple
print('Third element:',my_range[2]) # range

print('last element:', my_list[-1]) # list
print('penultimate',my_tuple[-2]) # tuple
print('Last element in range',my_range[-1]) # range

First element: 1
Second element: 2
Third element: 3
last element: 5
penultimate 4
Last element in range 5

### Slicing sequences
Slicing is used for extracting a portion of a sequence:
```python  
my_list[start:stop]
```
This will extract a sequence corresponding to the interval: `[start, stop)` being `start` and `stop` indexes  

Another function, *range* will automatically create an array of numbers between a specified start and stop at a specified interval.

In [ ]:
a_range = range(0, 100, 10)
l = list(a_range)
print(l)

l[2:4]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[20, 30]


If `start/stop` are omitted the slicing will go from/to the first/last element

In [ ]:
print(l)
l[:4]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[0, 10, 20, 30]

In [ ]:
print(l)
l[4:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[40, 50, 60, 70, 80, 90]

In [ ]:
print(l)
l[4:-1]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[40, 50, 60, 70, 80]

A `step` can also be included within your slice:  

```python
my_list[start:stop:step]
```

In [ ]:
print(l)
l[2:6:2]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[20, 40]

This is a nice way to invert the order of elements

In [ ]:
print(l)
l[::-1]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

Out-of-range **slicing** are permitted

In [ ]:
len(l)

10

In [ ]:
print(l)
l[9:20]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[90]

In [ ]:
print(l)
l[10:20]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[]

But not so with out-of-range **indexes**

In [ ]:
print(l)
l[10]

Indexing also works with strings

In [ ]:
text = 'abcd efghi'
print(text)
print(text[0:4])
print(text[4:7])

abcd efghi
abcd
 ef

### Slice assignment

In [ ]:
l  = [0, 10, 20, 30, 40, 50, 60]
print(l)
l[1] = 1000
l

[0, 10, 20, 30, 40, 50, 60]

[0, 1000, 20, 30, 40, 50, 60]

In [ ]:

l[2:5] = [2000, 3000, 4000]
l

[0, 1000, 2000, 3000, 4000, 50, 60]

In [ ]:

l[2:5] = [-1]
l

[0, 1000, -1, 50, 60]

In [ ]:
l[2:5] = 1

Lists and tuples can store a mixture of elements:

In [ ]:
a_crazy_list = [my_float, my_text, my_integer, my_tuple, my_range, my_list]
print(a_crazy_list, end = '\n\n')

print(a_crazy_list[3], end = '\n\n')

print(a_crazy_list[3][1], end = '\n\n')

print(a_crazy_list[2:4])

[5.0, 'Hello World!', 5, (1, 2, 3, 4, 5), range(1, 6), [1, 2, 3, 4, 5]]

(1, 2, 3, 4, 5)

2

[5, (1, 2, 3, 4, 5)]

In [ ]:
another_tuple = (my_float, my_text, my_integer, my_tuple, my_range)
another_tuple

(5.0, 'Hello World!', 5, (1, 2, 3, 4, 5), range(1, 6))

So, What's the difference between tuples and lists? Look:

In [ ]:
l  = [0, 10, 20, 30, 40, 50, 60]
print(l)
l[1] = 1000
l

[0, 10, 20, 30, 40, 50, 60]

[0, 1000, 20, 30, 40, 50, 60]

In [ ]:
t = (0, 10, 20, 30, 40, 50, 60)
t[1] = 1000

Tuples are immutable elements. That is, its content can NOT be changed

**WARNING:**
In general, variable names in python are pointers instead of containers, which means that they don't actually store the data, but points to the bucket where data is stored. As a consequence, if you have two variables pointing to the same bucket (piece of data) and change one of them, the other may change:

In [ ]:
x = [0,1,2]
y = x
x[2] = 999 # Changing only x
print('x: ', x)
print('y: ', y, 'also changed!')

Note, this some languages are impacted by this, some aren't. For example, in R y would remain [0, 1, 2].

Also, with certain data types you don't see this behavior:

In [ ]:
x = 1
y = x
print('x: ', x)
print('y: ', y)

x = 'Hello world!'

print('x: ', x)
print("y didn't changed:", y )

## Dictionaries

A dictionary is a data structure comprised of `key:value` pairs. Where the *keys* must be unique and replace the sequential index of lists and tuples. *keys* can be *strings* or *numbers*

In [ ]:
my_dict = {'a': 0, 'b':1, 'c': (10,20), 4:['abc',1], '5':True}
print(my_dict)

{'a': 0, 'b': 1, 'c': (10, 20), 4: ['abc', 1], '5': True}

In [ ]:
print(my_dict['a'])

print(my_dict['b'])

print(my_dict['c'])

print(my_dict[4])

print(my_dict['5'])

0
1
(10, 20)
['abc', 1]
True

In [ ]:
del my_dict['b']
my_dict[6] = 999
my_dict

{'a': 0, 'c': (10, 20), 4: ['abc', 1], '5': True, 6: 999}

# Basic Operations

## Arithmetic Operations

Operator |	Name |	Description
-----|------|-----
a + b |	Addition |	Sum of `a` and `b`
a - b	| Subtraction	| Difference of `a` and `b`
a * b	| Multiplication	| Product of `a` and `b`
a / b	| True division	| Quotient of `a` and `b`
a // b	| Floor division	| Quotient of `a` and `b`, removing fractional parts
a % b	| Modulus	| Integer remainder after division of `a` by `b`
a ** b	| Exponentiation	| `a` raised to the power of `b`
-a	| Negation	| The negative of `a`
+a	| Unary plus	| `a` unchanged (rarely used)

In [ ]:
5/3

1.6666666666666667

In [ ]:
a = 5
b = 3
a/b

1.6666666666666667

In [ ]:
5//3

1

In [ ]:
5%3

2

In [ ]:
4**2

16

In [ ]:
4**-2

0.0625

In [ ]:
(2+1)*(4-2)

See how sequential addition operates on sequential elements (note, some of this is unique to python):

In [ ]:
a = [0,1,2]
b = ['a','b','c']
print(a + b)
print(a*2)

[0, 1, 2, 'a', 'b', 'c']
[0, 1, 2, 0, 1, 2]

In [ ]:
a = (0,1,2)
b = ('a','b','c')
print(a + b)
print(a*2)

(0, 1, 2, 'a', 'b', 'c')
(0, 1, 2, 0, 1, 2)

In [ ]:
a = {'a': 1, 'b': 2}
b = {'c': 3, 'd': 4}
a*b

In [ ]:
a = 'Hello'
b = 'World'
print(a + b)
print(a*2)

HelloWorld
HelloHello

## Comparison operations

Another type of operation which can be very useful is comparison of different values. For this, Python implements standard comparison operators, which return Boolean values `True` and `False`. The comparison operations are listed in the following table:


Operation | Description   
---------|-------
 a == b | a equal to b
a != b | a not equal to b
a < b | a less than b
a > b | a greater than b
a <= b | a less than or equal to b
a >= b | a greater than or equal to b

For example, we can check if a number is odd by checking that the modulus with 2 is different from zero:

In [ ]:
# 25 is odd
24 % 2 != 0

False

In [ ]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

## Boolean or logical operations

Operator      |Description                                   
----------------------|-----------------
`a and b` | Return `True` when both statements are `True`
 `a or b`  | Return `True` when either `a` or `b` is `True`
 `not a`   | Reverse the result, returns False if `a` is true

In [ ]:
x = 10
y = 20

x > y

False

In [ ]:
not x > y

True

# Exercises

Taken from (It's an excelent book for learning Python):   
https://pythonnumericalmethods.berkeley.edu/notebooks/Index.html

# Homework 3 Part 1
Prior to starting any of these notebooks, please make sure to save a copy of this to your google drive. This can be done by navigating to *file* > *Save a copy in Drive*. Your changes will not be saved unless this has been completed.

**NOTE: It is okay to work in groups to complete this assignment - but the assignment must be turned in and completed individually**

## Problem 1 - 3 points
Given two tuples defining two points, for example: (3,4) and (5,9), calculate the slope of the line defined by the points.

In [ ]:
a = (3,4)
b = (5,9)

c = (b[1]-a[1])/(b[0]-a[0])
print(c)

2.5

## Problem 2 - 3 points
For the same points in Problem 1, calculate the distance between each point and the origin (0,0) and write a statement using the print function identify the one closer to the origin.

In [ ]:
dist_a = (a[0]**2+a[1]**2)**0.5
print(dist_a)
dist_b = (b[0]**2+b[1]**2)**0.5
print(dist_b)

5.0
10.295630140987

## Problem 3 - 3 points
Create a dictionary with at least 4 `key:value` pairs. Specify two values of the `key:value` pairs to be equal to integers, one equal to a bool, and one equal to a string.

Write a statement that returns the value `True` by comparing the two intergers in your dictionary. Make sure to reference the dictionary's key to call the value in your comparison.

In [ ]:
my_dict = {'a': 0, 'b':1, 'c': (10,20), 4:'blue', '5':True}

print(my_dict['a'] < my_dict['b'])

'a' < 'c'

True

True

# Problem 4 - 6 points
Create four variables and print the type of each (hint: use the `print` and `type` functions).

var_1 = 1234  
var_2 = 3.1415926  
var_3 = 'True'  
var_4 = True  

Then, create a new text cell below the code and discuss the difference between var_3 and var_4. In the cell block, please answer the following questions:
1. Why are these variables different/the same?
2. What boolean operator would you use to see if var_3 and var_4 are equal?
3. Please include a Header at the top of your text cell block.

# Problem 5
Once this notebook has been completed, please "print" the notebook as a pdf. You may do this by going to *file* > *print* and choosing *Save as PDF*. Turn this into Blackboard under the submission for Homework 3 part 1.