<a href="https://colab.research.google.com/github/ArlexMR/CEE_676_Python_Lecture/blob/main/Exercises/01_PythonBasics_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

# (10 points) Exercise 1. Basic data types, indexing and slicing

For each of the following, make  the required modification to the value on the right of the `==` in order to obtain a `True` value when the cell is run

In [ ]:
a = "1"
type(a) == int

In [ ]:
type(1) == float

In [ ]:
type(1.0) == int

In [ ]:
l = [10,20,30,40,50]
type(l) == int

In [ ]:
t = (10,20,30,40,50)
type(t) == list

In [ ]:
a = "False"
type(a) == bool

In [ ]:
b = False
type(b) == str

In [ ]:
round(9.81) == 9.8

In [ ]:
int(9.8) == 10

In [ ]:
type(round(9.8)) == float

In [ ]:
round(3.141592,3) == 3

In [ ]:
type(round(3.141592,2)) == int

In [ ]:
l = [10,20,30,40,50]
type(l[0]) == list

In [ ]:
l = [10,20,30,40,50]
l[0] == 0

In [ ]:
l = [10,20,30,40,50]
l[-1] == -1

In [ ]:
l[1] == 10

In [ ]:
l = list(range(3))
l == [1,2,3]

In [ ]:
l = list(range(1,3))
len(l) == 3

In [ ]:
l = list(range(5,10))
l[0] == 0

In [ ]:
l = list(range(5,10))
l[1] == 5

In [ ]:
l = list(range(5,10))
l[-1] == 10

In [ ]:
l = list(range(5,15,2))
l[-1] == 14

In [ ]:
l = [10,20,30,40,50]
l[:2] == [10,20,30]

In [ ]:
l = [10,20,30,40,50]
l[1:] == [10, 20, 30, 40, 50]

In [ ]:
l = [10,20,30,40,50]
type(l[0:1]) == int

In [ ]:
l = [10,20,30,40,50]
l[0:1] == 10

In [ ]:
l = list(range(0,1000,100))
l[:3] == [0,1,2]

In [ ]:
l = list(range(100))
type(l) == str

In [ ]:
t = tuple(range(3))
t == [0,1,2]

In [ ]:
val = "cat"
val[1] == "c"

In [ ]:
l = ["cat"]
type(l) == str

In [ ]:
l = ["cat"]
type(l[0]) == list

In [ ]:
l = ["1_cat"]
l[0][1] == "1"

In [ ]:
t = ("1_cat")
type(t) == tuple

In [ ]:
t = ("1_cat",)
type(t) == str

In [ ]:
t = ("1_cat")
type(t[0][0]) == int

In [ ]:
val = "cat "
val[-1] == "t"

In [ ]:
val1 = [1,2,3]
val2 = [4,5,6]
val1 + val2 == [5, 7, 9]

In [ ]:
val1 = [1,2,3]
val2 = [4,5,6]
val1[0] + val2[0] == [1,4]

In [ ]:
val1 = [1,2,3]
val2 = [4,5,6]
val1[:1] + val2[:1] == 5

In [ ]:
val1 = "one"
val2 = "cat"
val1 + val2 == "one cat"

In [ ]:
val1 = "one"
val2 = "cat"
val1[1] + val2[1] == "oc"

# (10 points) Exercise 2. Lists and Dictionaries

## 2.1
Given two lists `a` and `b` defining two points, calculate the slope of the line defined by the points.

In [ ]:
a = [3,4]
b = [5,9]

## 2.2
Edit the values assigned to the variables `first_val`, `last_val`, `min_val`, `max_val` and `length` in order to get four *You did it!* messages. Note that the original list `my_list` is modified by the instructions `my_list.sort()` and `my_list.append(0)`

In [ ]:
my_list = [3,2,1,4,5]
my_list.sort()
my_list.append(0)

## ------ Change values in this section ------
first_val = 3
last_val = 5
length = 5
min_val = 1
max_val = 5
##---------------------------------------------

# Conditional 1
if my_list[0] == first_val:
  print("You did it!")
else:
  print("Try again")


#Conditional 2
if my_list[-1] == last_val:
  print("You did it!")
else:
  print("Try again")


# Conditional 3
if len(my_list) == length:
  print("You did it!")
else:
  print("Try again")


# Conditional 4
if min(my_list) == min_val and max(my_list) == max_val:
  print("You did it!")
else:
  print("Try again")

## 2.3
Run the following code block to create two dictionaries

In [ ]:
station1 = {"ID": "01", "temp": 75, "rain": 25, "Q": 1.5}
station2 = {"ID": "02", "temp": 83, "rain": 18, "Q": 1.5}

Now, access the values in the dictionary using the following syntaxis: `dict[key]`. For example, to access the *key* `temp` from the station 1, use: `station1["temp"]`, also check the data types (example: `type(station1["temp"])`). Finally, explore the result of running the following commands:  
`station1.keys()`  
`station1.values()`

In [ ]:
#Explore the dicts content and data types in this cell.
# Example:
# station1["temp"]
# type(station1["temp"])

Finally, write a conditional statement (`if` - `else`) that compares the *rain* values and prints the station ID corresponding to the station with the highest rain amount

## 2.4
Define 5 variables according to the following table. Make sure to use  the variable names and data types **Exactly** as specified

Variable Name | Value   | Data type
------- | --------  | ---------
code            | 1000              | str
active          | True              | bool
start_date      | 1995-01-01        | str
end_date        | NA                | str
total_samples   | 10500             | int
params          | ['disch','temp','turb'] | list

The following code block intend to create a `dictionary` using the variables created in the previous step. However, the code contains two errors. Fix the errors to get the desired result.  
*Hint: Execute the code with the errors to see the error message which should be helpful to spot the problem*

In [ ]:
st_metadata = {"Code": code, "Active": active, "Start":start_date, End: end_date, "Samples" : total_samples, "Params"= params}
st_metadata

## 2.5
In the following cell a dictionary `my_dict` is defined with some `key:value` pairs. Include additional lines of code as required to obtain three `True` prints after executed the cell. *Do not modify the lines of code provided*. Just include additional lines wherever are needed

In [ ]:
my_dict = { "a": 1, "b": [2], "c": "3" }
my_dict["d"] = 4.0
my_dict["d"] = str(my_dict["d"])
my_dict["e"] = [1]

print(type(my_dict["e"]) == list)

print(my_dict["d"] == "4")

print(my_dict["a"] + my_dict["b"] + my_dict["c"] + my_dict["d"] == 10)

# (*optional*) Exercise 3. Loops

## 3.1
The following loop computes and prints the square of the numbers stored in a list. Modify the code inside the loop in order to preserve the sign of the input value. That is, for the values `3` and `-3` the results should be `9` and `-9` respectively.  
*Hint: Use a conditional statement*

In [ ]:
for i in [-3,-2,-1,0,1,2,3]:
  result = i**2
  print(result)

## 3.2
Write a loop that makes seven calls to `print()`, so we get on the output the following triangle:  
#
##
###
####
#####
######
#######

## 3.3
Use a loop to reverse the order of the list provided

In [ ]:
l = [1,2,3,4,5]

## 3.4
Write a loop to create the following pattern.  
*Hint: The code below creates half of the pattern*



```
###########
 #########
  #######
   #####
    ###
     #
    ###
   #####
  #######
 #########
###########
```

In [ ]:
base = 11
char = "#"

len_char = base
len_blank = 0
for i in range(6):
  line = " " * len_blank + char * len_char
  print(line)
  len_blank = len_blank + 1
  len_char = len_char - 2

# (*optional*) Exercise 4. Functions

The following function takes in a list (of any length) and returns a dictionary with some basic statistics. So far, the returned dictionary only contains the min and max values. Execute the cell to define the function so it can be used in other cells below

In [ ]:

def get_statistics(list_of_values):
  # Create an empty dict to store the output values
  stat_dict = {}

  #Compute statistics
  min_val = min(list_of_values)
  max_val = max(list_of_values)

  #Store statistics in the output dict
  stat_dict["min"] = min_val
  stat_dict["max"] = max_val

  # Finalize function and specify the output variable
  return stat_dict

To test the function, run the following code and explore the resulting dict

In [ ]:
input_list = [3, 76, 4, 97, 53, 2, 6, 5]
stats = get_statistics(list_of_values = input_list)
stats

Complement the function in the cell below in order to include the *mean* and *median* of the input values in the returned dictionary `stat_dict`. Note that the definition of the *median* value depends on whether the number of elements in the list is even or odd. For an odd set of numbers, the median is the value in the middle. For an even set of numbers, there is no middle point and the median is defined as the average of the two middle values.

In [ ]:

def get_statistics_expanded(list_of_values):
  # Create an empty dict to store the output values
  stat_dict = {}

  #Compute statistics
  min_val = min(list_of_values)
  max_val = max(list_of_values)

  #Store statistics in the output dict
  stat_dict["min"] = min_val
  stat_dict["max"] = max_val

  # Finalize function and specify the output variable
  return stat_dict

Check your function in the next cell

In [ ]:
input_list = [3, 76, 4, 97, 53, 2, 6, 5]
stats_expanded = get_statistics_expanded(list_of_values = input_list)
stats_expanded