<a href="https://colab.research.google.com/github/ArlexMR/CEE_676_Python_Lecture/blob/main/ReferenceModules/01_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

These notebooks are designed to give you a very basic overview of computer coding in python to conduct analyses of hydrologic data.

A notebook is an interactive, "live" document, where you can describe the code you are creating, run the code, and analyze the outputs.

Notebooks, including Google Collab, Jupyter Notebooks, and RNotebooks, are becoming increasingly popular in engineering and data science for creating reproduceable and efficicent code.

Many of the analyses conducted in this notebook can be completed in Excel. You will see, however, that several functions that have already been written in python are very powerful, and can directly be applied to data science in hydrology. While there is a learning curve, there is also a large amount of tools that can be accessed via python and R that aren't accessible through excel.


# Notebook 1

This notebook goes over the very basic operations that can be completed in python.

# Variables and assignment

In Python,
variables are defined using the symbol `=`

In [ ]:
my_variable = 1

you can show the content* of a variable just by writing its name:

**Actually variables are not containers but pointers*. See below

In [ ]:
my_variable

but it only works if it's placed in the last line:

In [ ]:
my_variable
another_variable = 2

A prefered and more versatile way for showing information is using the *function* `print()`

A *function* is a process which takes in a variable, and outputs something new.

In [ ]:
print(my_variable)
latest_variable = 3
print(latest_variable)

Often times computer programs will write in short hand notations. There are multiple reasons for this (i.e., iterating through a list, compacting code, etc).

Using a "#" we can write in comments, basically telling the user what the lines of code are doing.

In [ ]:
# Updating a variable
x = 10
x += 5 # equivalent to x = x + 5
x

In [ ]:
x = 10
x *= 3 # x = x*3
x

# 2. Data Types

Python has the following data types built-in by default. A *data type* allows you to assign certain things in variables (e.g., text, numbers, numbers with decimals, TRUE/FALSE statements, etc.)

Category | Data types
--|--
Text Type: | str
Numeric Types: |	int, float, complex
Boolean Type:	| bool
Sequence Types: |	list, tuple, range
Mapping Type:	| dict
Set Types:	| set, frozenset
Binary Types:	| bytes, bytearray, memoryview
None Type:	| NoneType

The data type stored in a variable can be accessed using the function `type()`

## Strings, numeric and boolean

In [ ]:
# Text type variables
my_text = 'Hello World!'
another_text = "Goodbye world!"

print('Text variables: \n')
print('my_text is a:', type(my_text))
print('another_text is a:',type(another_text))

In [ ]:
# Numeric Type Variables
my_integer = 5
my_float = 5.
my_complex = 3j +5

print('Numeric type variables: \n')

print('my_integer is a', type(my_integer), )

print('my_float is a', type(my_float))

print('my_complex is a', type(my_complex), 'equal to:', my_complex)

In [ ]:
# Boolean data types
my_true_bool = True
my_false_bool = False

print('Boolean type variables: \n')
print('my_true_bool is a', type(my_true_bool))
print('my_false_bool is a', type(my_false_bool))

## Sequences

In [ ]:
# Sequence data types:

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1,6)

print('my_list is a', type(my_list), 'equal to:', my_list )
print('my_tuple is a', type(my_tuple), 'equal to:', my_tuple )
print('my_range is a', type(my_range), 'equal to:', my_range )

Elements can be accessed using `[ ]`:  
**IMPORTANT:** Python uses **zero-based indexing** which means that the first element has index 0, the second element has index 1, and so on.

In [ ]:
first_element = my_list[0]
print('First element:',first_element) #list

print('Second element:',my_tuple[1]) # tuple
print('Third element:',my_range[2]) # range

print('last element:', my_list[-1]) # list
print('penultimate',my_tuple[-2]) # tuple
print('Last element in range',my_range[-1]) # range

### Slicing sequences
Slicing is used for extracting a portion of a sequence:
```python  
my_list[start:stop]
```
This will extract a sequence corresponding to the interval: `[start, stop)` being `start` and `stop` indexes  

Another function, *range* will automatically create an array of numbers between a specified start and stop at a specified interval.

In [ ]:
a_range = range(0, 100, 10)
my_list = list(a_range)
print(my_list)

my_list[2:4]


If `start/stop` are omitted the slicing will go from/to the first/last element

In [ ]:
print(my_list)
my_list[:4]

In [ ]:
print(my_list)
my_list[4:]

In [ ]:
print(my_list)
my_list[4:-1]

A `step` can also be included within your slice:  

```python
my_list[start:stop:step]
```

In [ ]:
print(my_list)
my_list[2:6:2]

This is a nice way to invert the order of elements

In [ ]:
print(my_list)
my_list[::-1]

Out-of-range **slicing** are permitted

In [ ]:
len(my_list)

In [ ]:
print(my_list)
my_list[9:20]

In [ ]:
print(my_list)
my_list[10:20]

But not so with out-of-range **indexes**

In [ ]:
print(my_list)
my_list[10]

Indexing also works with strings

In [ ]:
text = 'abcd efghi'
print(text)
print(text[0:4])
print(text[4:7])

### Slice assignment

In [ ]:
my_list  = [0, 10, 20, 30, 40, 50, 60]
print(my_list)
my_list[1] = 1000
my_list

In [ ]:

my_list[2:5] = [2000, 3000, 4000]
my_list

In [ ]:

my_list[2:5] = [-1]
my_list

Lists and tuples can store a mixture of elements:

In [ ]:
a_mixed_list = [my_float, my_text, my_integer, my_tuple, my_range, my_list]
print("a_mixed_list: ", a_mixed_list)

print("a_mixed_list[3]: ",a_mixed_list[3])

print("a_mixed_list[3][1]: ",a_mixed_list[3][1])

print("a_mixed_list[2:4]: ",a_mixed_list[2:4])

In [ ]:
another_tuple = (my_float, my_text, my_integer, my_tuple, my_range)
another_tuple

So, What's the difference between tuples and lists? Look:

In [ ]:
my_list  = [0, 10, 20, 30, 40, 50, 60]
print(my_list)
my_list[1] = 1000
my_list

In [ ]:
my_tuple = (0, 10, 20, 30, 40, 50, 60)
my_tuple[1] = 1000

Tuples are immutable elements. That is, its content can NOT be changed

**WARNING:**
In general, variable names in python are pointers instead of containers, which means that they don't actually store the data, but points to the bucket where data is stored. As a consequence, if you have two variables pointing to the same bucket (piece of data) and change one of them, the other may change:

In [ ]:
x = [0,1,2]
y = x
x[2] = 999 # Changing only x
print('x: ', x)
print('y: ', y, 'also changed!')

Note, this some languages are impacted by this, some aren't. For example, in R y would remain [0, 1, 2].

Also, with certain data types you don't see this behavior:

In [ ]:
x = 1
y = x
print('x: ', x)
print('y: ', y)

x = 'Hello world!'

print('x: ', x)
print("y didn't changed:", y )

## Dictionaries

A dictionary is a data structure comprised of `key:value` pairs. Where the *keys* must be unique and replace the sequential index of lists and tuples. *keys* can be *strings* or *numbers*

In [ ]:
my_dict = {'a': 0, 'b':1, 'c': (10,20), 4:['abc',1], '5':True}
print(my_dict)

In [ ]:
print("a: ", my_dict['a'])

print("b: ", my_dict['b'])

print("c: ", my_dict['c'])

print("4: ", my_dict[4])

print("5: ", my_dict['5'])

In [ ]:
del my_dict['b']
my_dict[6] = 999
my_dict

# Basic Operations

## Arithmetic Operations

Operator |	Name |	Description
-----|------|-----
a + b |	Addition |	Sum of `a` and `b`
a - b	| Subtraction	| Difference of `a` and `b`
a * b	| Multiplication	| Product of `a` and `b`
a / b	| True division	| Quotient of `a` and `b`
a // b	| Floor division	| Quotient of `a` and `b`, removing fractional parts
a % b	| Modulus	| Integer remainder after division of `a` by `b`
a ** b	| Exponentiation	| `a` raised to the power of `b`
-a	| Negation	| The negative of `a`
+a	| Unary plus	| `a` unchanged (rarely used)

In [ ]:
5/3

In [ ]:
a = 5
b = 3
a/b

In [ ]:
5//3

In [ ]:
5%3

In [ ]:
4**2

In [ ]:
4**-2

In [ ]:
(2+1)*(4-2)

See how sequential addition operates on sequential elements (note, some of this is unique to python):

In [ ]:
a = [0,1,2]
b = ['a','b','c']
print(a + b)
print(a*2)

In [ ]:
a = (0,1,2)
b = ('a','b','c')
print(a + b)
print(a*2)

In [ ]:
a = 'Hello'
b = 'World'
print(a + b)
print(a*2)

## Comparison operations

Another type of operation which can be very useful is comparison of different values. For this, Python implements standard comparison operators, which return Boolean values `True` and `False`. The comparison operations are listed in the following table:


Operation | Description   
---------|-------
 a == b | a equal to b
a != b | a not equal to b
a < b | a less than b
a > b | a greater than b
a <= b | a less than or equal to b
a >= b | a greater than or equal to b

For example, we can check if a number is odd by checking that the modulus with 2 is different from zero:

In [ ]:
# 25 is odd
24 % 2 != 0

In [ ]:
# check if a is between 15 and 30
a = 25
15 < a < 30

## Boolean or logical operations

Operator      |Description                                   
----------------------|-----------------
`a and b` | Return `True` when both statements are `True`
 `a or b`  | Return `True` when either `a` or `b` is `True`
 `not a`   | Reverse the result, returns False if `a` is true

In [ ]:
x = 10
y = 20

x >= y or x <= 15

In [ ]:
not x < y