<a href="https://colab.research.google.com/github/ArlexMR/CEE_676_Python_Lecture/blob/main/ReferenceModules/03_Numpy%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy
Numpy is a library for scientific computing. It provides tools for working with multidimensional arrays (vectors, matrices). The basic data type (`class`) in Numpy is the *Numpy array*

First you need to import the library:

In [ ]:
import numpy as np

In [ ]:
a = np.array([1., 2., 3.])   # Create a rank 1 array

print(a)
print(type(a))
print(a.shape)

In [ ]:
print(a[0], a[1], a[2])

In [ ]:
a[0] = np.nan                  # Change an element of the array
print(a)

In [ ]:
b = np.array([[1.,2.,3.],[4.,5.,6.]])    # Create a rank 2 array

print(b, end = '\n\n')
print(b.shape)                     # Prints "(2, 3)"
print(b[0, 0], b[0, 1], b[1, 0])   # Prints "1 2 4"

In [ ]:
c = b[0,:]
c

In [ ]:
print(a)
print(c)
print(a + c)
print(a*10)

see the link below for a wider explanation on how to use numpy for linear algebra, fourier analysis, and array manipulation in general.  

https://numpy.org/devdocs/user/quickstart.html

# Pandas

Is a library for tabular data manipulation. It is built upon Numpy and provides tools for data science. The basic data types in Pandas are the *Series* and the *DataFrame*

In [ ]:
import pandas as pd

Creating a Series by passing a list of values, letting pandas create a default integer index:

## Series

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
type(s)

or you can pass your own index:

In [ ]:
list('abcdef')

In [ ]:
index = list('abcdef')
values = [1, 3, 5, np.nan, 6, 8]
s = pd.Series(values, index = index)
s

Elements can be accessed with its index

In [ ]:
print(s['a'])

## DataFrame

A *DataFrame* is an array of data in tabular form similar to that you can create in Excel:

Note, in other languages, such as R, DataFrames are built into the base language and it's not necessary to import a library.

In [ ]:
l1 = [10,20,30,40]
l2 = list('abcd')
l3 = [True, False, True, True]

d = {'A':l1, 'B':l2, 'C':l3}

df = pd.DataFrame(d)

df

In [ ]:
type(df)

Accesing the data. For columns you can pass the column name (or a list of them)

In [ ]:
df['A'] # return a Series

In [ ]:
df[['A','B']] # several columns must be passed as a list

If you want to filter certain rows, use the attribute `loc[]`:

In [ ]:
df

In [ ]:
df.loc[0]

In [ ]:
df

In [ ]:
df.loc[1,'C']

Boolean values can also be used:

In [ ]:
desired_rows = df['C']

df.loc[desired_rows]

Let' explore some important methods: `groupby` , `resample` and `rolling`

## groupby

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

In [ ]:
dir(df.groupby(['Animal']))

In [ ]:
df2 = df.groupby(['Animal']).last()
df2

Note that the original DataFrame doesn't change:

In [ ]:
df

## Resample

In [ ]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

In [ ]:
series.resample('3T').sum()

To learn more about the offset strings, please see:

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

# rolling

In [ ]:
df = pd.DataFrame({'B': [0, 1, 2, 3, 4]})
df

In [ ]:
df.rolling(2).sum()

In [ ]:
df.rolling(3, center = True).sum()